/* Pantry Card */
.pantry-card {
    background: rgba(217, 217, 217, 0.6);
    border-radius: 20px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    overflow: visible;
    padding: 20px;
    margin-bottom: 90px;
}

.pantry-card:hover {
    transform: translateY(-10px);
}

.property-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: -120px;
    position: relative;
    top: -110px;
}

.property-profile {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.property-profile-image {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #fff;
}

.pantry-card-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #67cf89;
}

.low-items-count {
    color: #ff4d4d;
    font-weight: bold;
}

.pantry-card-card p {
    color: #b8b8b8;
    font-size: 1rem;
    margin: 5px 0;
}

.pantry-card-button {
    background-color: transparent;
    color: #fff;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.3s;
    align-self: flex-end;
}

.pantry-card-button:hover {
    color: #67cf89;
}

.remove-product-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #ff4d4d;
    font-size: 1.5rem;
    margin-left: 8px;
    transition: color 0.2s;
}

.remove-product-button:hover {
    color: #d11a2a;
}
