/* Menus.css */
.menu-page {
    padding: 20px;
    /* background-color: #f5f5f5; */
    position: relative;
    overflow: hidden;
}

.menu-section {
    position: relative;
    z-index: 1;
}
.menu-section h2 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

.add-button {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: #67cf89;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 3;
}

.add-button:hover {
    background-color: #57b77a;
}

.menu-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.menu-card {
    background: rgba(217, 217, 217, 0.6);
    border-radius: 20px;
    width: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    cursor: pointer;
}

.menu-card:hover {
    transform: translateY(-10px);
}

.menu-card h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.menu-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}
