/* Home Page Styles */

body {
  color: #333;
  background: #1f1f1f;
  margin: 0;
  padding: 0;
}

.home-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  font-size: 1.8rem;
  color: #67cf89;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-weight: normal;
  border-bottom: 2px solid transparent;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #ffcc00;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #67cf89;
}

/* Suggestion Section */
.suggestion-section {
  margin-top: 100px;
}

.suggestion-card {
  color: #fff;
  padding: 30px;
  margin-top: 80px;
  border-radius: 20px;
  flex-direction: row;
  /* position: relative; */
  display: flex;
  flex-direction: row;
  /* max-width: 800px; */
  width: 100%;
  text-align: left;
}

.suggestion-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.suggestion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.suggestion-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.highlight {
  color: #00cc66;
}

.dish-name {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 15px;
  font-weight: bold;
}

.dish-description {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.button-orange {
  background-color: #ff7f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-orange:hover {
  background-color: #e67000;
}

.button-blue {
  background-color: #0066cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-blue:hover {
  background-color: #005bb5;
}

.suggestion-image {
  width: 100%;
  height: 100%;
}

/* Pantry Section */
.home-pantry-section {
  margin-top: 150px;
}

.home-pantry-section h2 {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}

.home-pantry-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 150px;
  align-content: center;
  justify-content: center;
}